#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #ffdfec;
  text-shadow: 0px 0px 10px #00000055;
}

header h2 {
  font-weight: normal;
  margin-top: 10px;
  color: #eaeaea;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #9A3E8A, #E57A00);
  background-attachment: fixed;
}


.note-box {
  margin: 30px auto;
  padding: 20px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0px 4px 10px #00000033;
}

.menu {
  position: absolute;
  top: 40px;      
  left: 10px;     
}

.menu p {
  margin: 0 10px;
  display: inline-block;   
  cursor: pointer;
  font-weight: bold;
}

.menu p:hover {
  text-decoration: underline;
}
